body{
    background-color: black;
    color:white;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: white;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
p.read-btn{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}