
:root{
    --primary: yellow;
}
body{
    background-color: black;
    color:white;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .container{
        min-width: 75%;
    }
    .flex-container{
        display: flex;
        flex-direction: row-reverse;
    }
}
nav{
    background-color: white;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    text-transform: uppercase;
}
p.read-btn{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
}

/*nav*/
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
}
.menu{
    flex-basis: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ng-logo{
    width: 100px;
    height: 40px;
}
.link-login{
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
}
.link-subs{
    background-size: 200% 100%;
    background-position: 100% 0;
    background-image: linear-gradient(to left, black 50%, var(--primary) 50%);
    transition: background-position .2s ease-in-out, color .2s ease-in-out;
    color:white;
    padding:1rem;
}
.link-subs:hover{
    background-position: 0% 0;
    color:black;
}
.link-arrows{
    color: black;

}
@media(min-width:768px){
    .menu{
        flex-basis: 400px;
    }
    .link-search,.link-renew,.link-menu{
        display:block;
    }
    .ng-logo{
        width: 120px;
        margin-left: 20px;
    }
    .link-search{
        color: black;
    }
    .link-subs{
        background-size: 200% 100%;
        background-position: 100% 0;
        background-image: linear-gradient(to left, black 50%, var(--primary) 50%);
        transition: background-position .2s ease-in-out, color .2s ease-in-out;
        color:white;
        padding:1rem;
    }
    .link-subs:hover{
        background-position: 0% 0;
        color:black;
    }
    .link-renew{
        color: black;
        font-weight: normal;
        text-transform: capitalize;
        border-bottom: 2px solid var(--primary);
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom), white, var(--primary);
        transition: background-position .2s ease-in-out, color .2s ease-in-out;
    }
    .link-renew:hover{
        background-position: 0% 100%;
        color: black;
        cursor: pointer;
    }
    .link-menu{
        text-transform: uppercase;
        font-size: 15px;
        color: black;
        font-weight: 700;
        letter-spacing: 3px;
    }
}


/*main*/

h1{
    text-transform: uppercase;
    font-size: 50px;
}

/*header*/
.header-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
} 
header{
    text-align: center;
}
.border{
    border: 2px yellow solid;
    width: 30px;
    margin-right: auto;
    margin-left: auto;
}
span.span-1{
    border-bottom:2px solid var(--primary);
    background-size: 100% 200%;
    background-image:linear-gradient(to bottom, black 50%, var(--primary) 50%);
    transition: background-position .1s ease-in-out, color .1s ease-in-out;
}

span.span-1:hover{
    background-position: 0 100%;
    color:black;
    cursor:pointer;
}

/*hover::after
content:
back-ground color::after
*/

.questlove:hover{
    max-width: 100%;
}
h3{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    color: white;
}
h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main-news-1-text p.title{
    color: white;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;

}
.main-news-1{
    position:relative; /*parent should be relative, children absolute*/
    height: 525px;
}
.main-news-1-text{
    position:absolute;
    top: 120px;
    left:20px;
    color: white;;
}
.main-news-1-img{
    height: 600px
}

.main-news-1-text p.read-btn{
    color: white;
}
.main-news-2{

}
.main-news-2-text{
    background-color: white;
    color: black;
    margin-top: 20px;
}
.main-news-2-text h3{
    color: black;
    padding: 10px;
}
.main-news-2-text p.title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
.main-news-2-img{

}
.main-news-3{

}
.main-news-3-img{

}
.main-news-3-text{
    background-color: white;
    color: black;
}
.main-news-3-text h3{
    color: black;
    padding: 10px;
}
.main-news-3-text p.title{

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;

}
.span-2{
    font-weight: 200;
}
.span-3{
    font-weight: 200;
}

.pick-1{
    display: grid;
    grid-template-columns: 100px 300px;
    margin-bottom: 20px;
    column-gap: 30px;
}
    
.pick-1 img{
    width: 100px;
    height: 100px;
}
.pick-1 p{
    font-weight: 700;
    line-height: 1.5;
}
.pick-2{
    display: grid;
    grid-template-columns: 100px 300px;
    margin-bottom: 20px;
    column-gap: 30px;
}
.pick-2 img{
    width: 100px;
    height: 100px;
}
.pick-2 p{
    font-weight: 700;
    line-height: 1.5;
}
.pick-3{
    display: grid;
    grid-template-columns: 100px 300px;
    margin-bottom: 20px;
    column-gap: 30px;
}
.pick-3 img{
    width: 100px;
    height: 100px;
}
.pick-3 p{
    font-weight: 700;
    line-height: 1.5;
}
.pick-4{
    display: grid;
    grid-template-columns: 100px 300px;
    margin-bottom: 20px;
    column-gap: 30px;
}
.pick-4 img{
    width: 100px;
    height: 100px;
}
.pick-4 p{
    font-weight: 700;
    line-height: 1.5;
}
.pick-5{
    display: grid;
    grid-template-columns: 100px 300px;
    margin-bottom: 20px;
    column-gap: 30px;
}
.pick-5 img{
    width: 100px;
    height: 100px;
}
.pick-5 p{
    font-weight: 700;
    line-height: 1.5;
}
.pick-6{
    display: grid;
    grid-template-columns: 100px 300px;
    margin-bottom: 20px;
    column-gap: 30px;
}
.pick-6 img{
    width: 100px;
    height: 100px;
}
.pick-6 p{
    font-weight: 700;
    line-height: 1.5;
}
/* All those picks should be the same class.  Change on index.html.  The beginning of each class should be the same instead of pick 1, pick 2, etx...*/